@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
form {
  text-align: center;
}
input {
  padding: 5px;
}
.btn {
  padding: 5px;
  cursor: pointer;
  background-color: rebeccapurple;
  border: 2px solid rebeccapurple;
  color: aliceblue;
  font-weight: 700;
}
.btn:hover {
  color: beige;
  background-color: rgb(124, 17, 223);
}
.todoWrapper {
  margin-top: 30px;
}
.todoItems {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.todoItems input {
  width: 17px;
}
.todoContent p {
  width: 200px;
}
.todoItems > button {
  width: 50px;
  height: 20px;
}
.todoContent {
  display: flex;
  gap: 10px;
}
.todoDelete {
  margin-left: 10px;
  background-color: rgb(240, 49, 49);
  border: none;
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px 5px;
}
.todoEdit {
  background-color: rgb(4, 130, 220);
  border: none;
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px 5px;
}
.emptyTodo {
  text-align: center;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Black background with some transparency */
}
.modal-content input {
  width: 100%;
  margin-bottom: 10px;
}
/* Styles for the modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Center the modal on the screen */
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Close button style */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.editInput {
  padding: 10px;
}
